@model webXML.Models.Model
@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <script src="~/js/Index.js"></script>
</head>
<body onload="onLoad();">
    <div class="jumbotron text-center">
        <h1>XML Generator</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="drop text-center" ondrop="dropHandler(event, 0);" ondragover="dragOverHandler(event);" id="outagesDrop">
                    Drop your outages CSV file here
                </div>
            </div>
            <div class="col-md-6">
                <div class="drop text-center" ondrop="dropHandler(event, 1);" ondragover="dragOverHandler(event);" id="criticalBranchesDrop">
                    Drop your critical branches CSV file here
                </div>
            </div>
        </div>

        <form id="mainForm" method="post" asp-action="Index" enctype="multipart/form-data">
            <input asp-for="OutagesCSV" type="hidden" id="outagesCsvFilename" />
            <input asp-for="CriticalBranchesCSV" type="hidden" id="criticalBranchesCsvFilename" />
            <input asp-for="SavedScroll" type="hidden" id="scroll" />
            ConstraintTimeInterval:
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control"
                           id="date-start"
                           name="date"
                           placeholder="MM/DD/YYYY"
                           type="text"
                           onchange="onConstraintIntervalChanged();" />
                </div>
                <div class="col-md-2">
                    <input class="form-control"
                           id="time-start"
                           placeholder="HH:MM"
                           type="time"
                           onchange="onConstraintIntervalChanged();" />
                </div>
                <div class="col-md-4">
                    <input class="form-control"
                           id="date-end"
                           name="date"
                           placeholder="MM/DD/YYYY"
                           type="text"
                           onchange="onConstraintIntervalChanged();" />
                </div>
                <div class="col-md-2">
                    <input class="form-control"
                           id="time-end"
                           placeholder="HH:MM"
                           type="time"
                           onchange="onConstraintIntervalChanged();" />
                </div>
            </div>
            <input asp-for="Settings.constraintTimeInterval"
                   class="form-control"
                   type="hidden"
                   id="constraintTimeInterval" />
            ServerIdentification:
            <input asp-for="Settings.senderIdentification"
                   class="form-control"
                   type="text"
                   value="17XTSO-CS------W" />
            ReceiverIdentification:
            <input asp-for="Settings.receiverIdentification"
                   class="form-control"
                   type="text"
                   value="17XTSO-CS------W" />
            Outages per branch:
            <input asp-for="Settings.outagesPerBranch"
                   class="form-control"
                   type="number"
                   value="1" />
            <input asp-for="IncludeXSD"
                   id="includeXSDcheckbox"
                   type="checkbox" />
            <label class="form-check-label" for="includeXSDcheckbox">Include XSD schema files in output</label>
            <button id="submitButton" type="button" onclick="submit();" class="btn btn-lg btn-block btn-outline-primary not-ready-btn" disabled>
                <span id="normalMsg">Submit</span>
                <span id="errorMsg">Files not uploaded.</span>
            </button>
        </form>
        <form action="download" method="get">
            <input type="hidden" value="@Model.OutputFile" name="filename" />
            <input id="downloadBtn"
                   class="btn btn-primary btn-lg btn-block"
                   type="submit"
                   value="Download"
                   style="@(Model.OutputFile==null?"display: none;":"")"
                   onclick="document.getElementById('downloadBtn').style.display = 'none';">
        </form>
        <div class="lead text-center res-text">@Model.ResultSummary</div>
        <div class="btn btn-lg btn-block btn-outline-primary"
             id="viewRawBtn"
             style="@(Model.Output==null?"display: none;":"")"
             onclick="displayRaw()">
            View raw output
        </div>
        <div id="rawOutput" class="raw-output" style="display: none;">
            <p  style="white-space: pre-line;">@Model.Output</p>
        </div>
    </div>
</body>
</html>